In [24]:
import pandas as pd
import numpy as np
import scipy.stats as ss

# Hypoteza 1

*H0: Na silnicích první třídy se při nehodách umíralo se stejnou pravděpodobností jako nasilnicích třetí třídy*

In [25]:
df = pd.read_pickle("accidents.pkl.gz")

Vytvorime novy dataframe, ktery bude obsahovat data pouze ze silnic prvni a treti tridy a nasledne vytvorime sloupec "nasledek", ktery kdyz je hodnota True, tak znamena ze nekdo zemrel, 0 pokud ne

In [26]:
data = df[df["p36"].isin([1,3])].copy()
data["nasledek"] = data["p13a"] > 0

data

,p1,p36,p37,p2a,weekday(p2a),p2b,p6,p7,p8,p9,...,n,o,p,q,r,s,t,p5a,region,nasledek
7594,002100167619,1,-1,2016-05-05,4,1135,1,2,0,2,...,1397508,,Souhlasnýsesměremúseku,Pomalý,554782,709450,GN_V0.1UIR-ADR_410,1,PHA,False
10530,003100160575,1,102,2016-06-19,0,1905,1,2,0,2,...,312370,,Souhlasnýsesměremúseku,Pomalý,554782,481548,GN_V0.1UIR-ADR_410,1,PHA,False
10532,003100160577,1,0,2016-06-19,0,1915,3,0,4,2,...,293620,,Souhlasnýsesměremúseku,Pomalý,554782,709450,GN_V0.1UIR-ADR_410,1,PHA,False
13362,003100163418,1,0,2016-08-08,1,1355,1,2,0,2,...,2374326,,Souhlasnýsesměremúseku,Pomalý,554782,506001,GN_V0.1UIR-ADR_410,1,PHA,False
21478,004100161576,1,-1,2016-12-09,5,1640,2,0,0,2,...,,,,,-1,-1,GN_V0.1UIR-ADR_410,1,PHA,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572914,190906210442,3,21036,2021-08-23,1,1238,3,0,9,1,...,2245808,,Opačnýkesměruúseku,Pomalý,560341,-1,GN_V0.1UIR-ADR_410,2,KVK,False
572922,190906210450,3,21810,2021-08-26,4,1704,1,1,0,2,...,3343415,,Souhlasnýsesměremúseku,Pomalý,560677,-1,GN_V0.1UIR-ADR_410,1,KVK,False
572931,190906210459,3,2099,2021-08-30,1,1505,1,3,0,2,...,,,,,-1,-1,,1,KVK,False
572932,190906210460,3,2099,2021-08-31,2,1245,0,0,0,1,...,199764,,Opačnýkesměruúseku,Pomalý,560286,553654,GN_V0.1UIR-ADR_410,1,KVK,False
572933,190906210461,3,21029,2021-08-31,2,1834,3,0,4,1,...,3650728,,Souhlasnýsesměremúseku,Pomalý,560324,-1,GN_V0.1UIR-ADR_410,2,KVK,False

Vytvorime kontingencni tabulku

In [27]:
table = pd.crosstab(data["nasledek"], data["p36"])
table

p36           1      3
nasledek
False     78618  73352
True        911    448

Pomoci funkce chi2_contingency zjistime p-hodnotu

In [28]:
result = ss.chi2_contingency(table)

result[1]

3.5395243450138555e-29

### Zaver 1

Hodnota p-value je mensi nez 0.05, takze zamitame nulovou hypotezu a zavadime alternativni hypotezu, ze je mezi nasledky nehody a tridou silnice statisticky vyznamna spojitost

# Hypoteza 2
*H0: Při nehodách vozidel značky Škoda je škoda na vozidle nižší než při nehodách vozidel Audi*

Vytvorime si novy dataframe, ktery bude obsahovat data pouze o nehodach vozidel znacky Audi a Skoda

In [29]:
data = df[df["p45a"].isin([2,39])]

#give me data set, with only p45a(which is only 2 and 39) and p53 columns
data = data[["p45a", "p53"]]
data

        p45a   p53
0          2  4000
6         39   200
9         39   300
11        39    50
16        39  1200
...      ...   ...
572911    39    10
572916    39   130
572921    39   100
572923    39     0
572931     2    50

[129824 rows x 2 columns]

Zmenime nazev sloupce

In [30]:
data.set_index("p45a", inplace=True)
data

       p53
p45a
2     4000
39     200
39     300
39      50
39    1200
...    ...
39      10
39     130
39     100
39       0
2       50

[129824 rows x 1 columns]

Rozdelime na 2 dataframy a vypocitame jejich mediany a porovname

In [31]:
audi = data.loc[2, "p53"]
skoda = data.loc[39, "p53"]

audi.median(), skoda.median()

(300.0, 200.0)

Spocitame vysledek u-testu

In [32]:
ss.mannwhitneyu(audi, skoda)

MannwhitneyuResult(statistic=789001736.0, pvalue=4.921643600739696e-188)

### Zaver 2
Zde vidime, ze hodnota testu je mensi jak 0.05. Coz potvrzuje nasi hypotezu, ze skoda na vozidlech Skoda je mensi nez u vozidel Audi.